#feature_img
{
    max-width: 100%;
    height: auto;
}
body
{
    background: url('/assets/images/background_texture.gif') fixed;
    background-repeat: repeat;
    padding: 0px;
    margin: 0;
}
.main_logo
{
    width: 200px;
    margin-top: 20px;
    margin-bottom: -20px;
}
.small_logo
{
    width: 110px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bump_right
{
    margin-left: 40px;
}
#clock
{
    height: 130px;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 2px;
}
.profile_img
{
    max-width: 100px;
    height: auto;
    margin-top: 10px;
}
.profile_info
{
    margin-top: 50px;
}
.weight-lighten
{
    font-weight: lighter;
}
.card
{
    padding-top: 20px;
}
.big
{
        font-size: 2em;
}
.pink-text
{
    color: #ee6e73;
}

.pink
{
    background-color: #ee6e73;
}
.my_grey
{
    background-color: #e5e5e5;
}
.bottom
{
    margin-top: 10px;
}
.inline
{
    display: inline-block;
}
.dropdown-content li>span
{
    color: #ac1818;
}
input[type="text"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}
.input-field .prefix.active
{
    color: black;
}
h6
{
    font-weight: bolder;
}
.input-field .prefix
{
    font-size: 1.5rem;
}
a
{
    color: #971f1f;
}
nav ul a:hover{
    color: #eeeeee;
}
a:hover
{
    cursor: pointer;
    color: #6e1818;
}
.no-width
{
    width: 15px;
}
